<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="false">
    <testsuites>
        <testsuite name="User module">
            <directory>./UserTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../</directory>
            <exclude>
                <file>../autoload_classmap.php</file>
                <directory suffix=".php">../test</directory>
                <directory suffix=".php">../config</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
